/* bg-orange-700 px-4 py-1 mr-5 rounded-md cursor-pointer 
                hover:bg-orange-800 transition duration-100 */

.login {
    background-color: rgb(194, 65, 12);
    padding-inline: 4vh;
    padding-block: 1vh;
    margin-right: 5vh;
    border-radius: 1vh;
    cursor: pointer;
    color: white;
    transition: 0.1s;
    text-decoration: none;
}

.login:hover {
    background-color: rgb(184, 60, 11);
}

.signup {
    background-color: rgb(194, 65, 12);
    padding-inline: 3vh;
    padding-block: 1vh;
    /* margin-right: 0vh; */
    border-radius: 1vh;
    cursor: pointer;
    color: white;
    transition: 0.1s;
    text-decoration: none;
}

.signup:hover {
    background-color: rgb(184, 60, 11);
}

.noTask {
    margin-top: 6vh;
    color: white;
}

/* ml-6 text-white */
.popOut {
    /* display: flex; */
    position: fixed;
    left: 40%;
    top: -8vh;
    background-color: #fff;
    padding: 2vh 9vh;
    border-radius: 1vh;
    font-size: 2.8vh;
    transition: top 0.3s ease;
    /* Add the bounce animation */
}

.popOut.active {
    top: 12vh;
    animation: bounceIn 0.6s ease forwards;
}

@keyframes bounceIn {
    0% {
        top: -8vh;
        /* Start above the screen */
    }

    60% {
        top: 10vh;
        /* First bounce down */
    }

    75% {
        top: 8vh;
        /* Bounce up slightly */
    }

    90% {
        top: 10vh;
        /* Second bounce down */
    }

    100% {
        top: 9vh;
        /* Settle in final position */
    }
}